<table class="table">
    <thead>
        <tr class="border-bottom">
            <th scope="col th-row"></th>
            <th scope="col th-row">Title</th>
            <th scope="col th-row">Author</th>
            <th scope="col th-row">Genre</th>
            <th scope="col th-row">

            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="border-bottom" *ngFor="let row of table; let i = index">
            <th scope="row"></th>
            <td>
                <div *ngIf="(!editMode || editMode&& id !== i)">{{row.title}}</div>
                <input type="text" *ngIf="editMode  && id == i" [(ngModel)]="row.title" />
            </td>
            <td>
                <div *ngIf="(!editMode || editMode&& id !== i)">{{row.author}}</div>
                <input type="text" *ngIf="editMode  && id == i" [(ngModel)]="row.author" />
            </td>
            <td>
                <div *ngIf="(!editMode || editMode&& id !== i)">{{row.genre}}</div>
                <input type="text" *ngIf="editMode && id == i" [(ngModel)]="row.genre" />
            </td>
            <td class="actions">
                <ng-template [ngIf]="(!editMode || editMode && id !== i)">
                    <button class="button button-secondary--inverted button--small" (click)="remove(row, i)"> remove</button>
                    <button class="button button-secondary--inverted button--small" (click)="update(row, i)">update</button>
                </ng-template>

                <ng-template [ngIf]="editMode  && id == i">
                    <button class="button button-secondary--inverted button--small" (click)="cancel()">cancel</button>
                    <button class="button button-secondary--inverted button--small" (click)="save(row, i)">save</button>
                </ng-template>

            </td>
        </tr>
    </tbody>
</table>

<!-- {{isEditMode}} -->